/* Voici le CSS de toutes les pages en général avec en première parrtie les réglages du html*/
html{

}

/* Partie concernant tous les paramètres de la pages en général
comprends les catégories body, header, footer, nav, section*/
body{
	font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: pink;
  font-style: oblique;
}

header {
  background-image: url('../Images/Polygon-3-01.png') no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 20px;
  color : white;
}

header nav {
  color : blue;
}

header nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li{
  margin: 0;
  padding: 0;
  float: left;
  width: 200px;
  height: 50px;
  background-color: #666;
  line-height: 50px;
  text-align: center;
}

header nav ul li ul li{
  display: none;
}

header nav ul li a{
  display: block;
}

header nav ul li a:hover{
  background-color: pink;
  opacity: 0.8;
}

header nav ul li:hover ul li{
  display: block;
  position: fixed;
  height: 100px;
}

footer{
  background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Boutons */
.bouton {
}

/* Liens */
a{
  color:orange;
  text-decoration: none;
}

/* Ici est la partie des images*/
img{
  width:100
}

.title{
  background-color: deepskyblue;
  font-style: oblique;
}

.left{
  float:left; 
  margin:0 10px 0 20px;
}

.right{
  float:right; 
  margin:0 10px 0 20px;
}

.thumbnail{

}

#logo{
}
/* ###############     ############### */
 .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  width: 200px;
  height: 50px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
/* code pour les ecrans normaux*/
@media screen and (min-width: 950px)
{
   .flex-container {
  background-image: ../Images/lights.jpg ;
  flex-wrap:  nowrap;

}
